/* Image and Photo Styles */

.headshot {
  height: 250px;
  border-radius: 5%;
  border: 2px #f0b64c;
  margin: 1rem;
}

.about-photo {
  max-height: 500px;
  border-radius: 5%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  transition: transform 0.3s ease;
}

.about-photo:hover {
  transform: scale(1.05);
}

.headshot-photo {
  border-radius: 5%;
  border: 2px #f0b64c;
  margin: 1rem;
  max-height: 200px;
  margin-right: 2rem;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}


.headshot-photo:hover {
  transform: scale(1.05) rotate(-2deg);
}

.logo-sketch-photo {
  border-radius: 5%;
  border: 2px #f0b64c;
  margin: 1rem;
  max-height: 500px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo-sketch-photo:hover {
  transform: scale(1.1);
}

.tana-photo {
  max-height: 300px;
  border-radius: 5%;
  display: block;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease;
}

.tana-photo:hover {
  transform: scale(1.05);
}
